/*its universal selector , like applying to all*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
/* applying the attributes for all the body*/
body {
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, #0f172a, #1e3a8a);
  color: white;
}

/* NAVBAR  attributes  changes. including hover and scrolling behaviour.  */
#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  transition: all 0.4s ease;
  z-index: 1000;
}

#navbar.scrolled {
  padding: 10px 60px;
  background: rgba(0, 0, 0, 0.75);
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

.logo {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
  transition: all 0.4s ease;
}

#navbar.scrolled .logo {
  color: cyan;
  transform: scale(1.1);
}

/* NAV LINKS */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  position: relative;
  transition: all 0.3s ease;
}

.nav-links li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0%;
  height: 3px;
  background: cyan;
  transition: width 0.4s ease;
}

.nav-links li a:hover::after {
  width: 100%;
}

.nav-links li a:hover {
  color: cyan;
  transform: translateY(-3px);
  text-shadow: 0 0 10px cyan;
}

#navbar.scrolled .nav-links li a {
  color: #f8fafc;
}

/*  SECTIONS attributes changes.  */
section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

/* HEADING changes. */
section h1 {
  font-size: 56px;
  margin-bottom: 20px;
  transition: all 0.4s ease;
  cursor: pointer;
}

section h1:hover {
  color: cyan;
  transform: scale(1.08);
  text-shadow: 0 0 20px cyan;
}

/* PARAGRAPH EFFECT */
section p {
  font-size: 22px;
  transition: all 0.4s ease;
  cursor: pointer;
}

section p:hover {
  color: #ffd700;
  transform: scale(1.05);
  text-shadow: 0 0 15px gold;
}

/* ALTERNATE SECTION BACKGROUNDS */
section:nth-child(even) {
  background: rgba(255, 255, 255, 0.05);
}

/* RESPONSIVE here we are using when  the website screen is  in less then 700px */
@media (max-width: 700px) {
  #navbar {
    flex-direction: column;
    padding: 15px;
  }

  .nav-links {
    flex-direction: column;
    gap: 15px;
    margin-top: 15px;
  }

  section h1 {
    font-size: 36px;
  }

  section p {
    font-size: 18px;
  }
}
